@model DFDSBetting.Models.MatchViewModel


<div class="card-header"> [FLAG] @Model.HomeTeamName - @Model.AwayTeamName [FLAG] </div>
<div class="card-body">
    <h4 class="card-title"> @Model.HomeTeamScore - @Model.AwayTeamScore</h4>
    <p class="card-text">@Model.BeginDate</p>
</div>